# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/* RESOURCES: 

    https://loubodde.com/2017/06/19/infotainment-map-tut/
    https://ctejas.wordpress.com/2017/10/14/gm-vehicle-infotainment-app/

USER ID: XNGRTVZ9WDRB2EKLEXHR21bfvbxEYJQuzOAR0gRCVU9nuJsmQ

PW: ehUEinyd68B2BrpSHZHsJnx6ZBOYgTANMHVlQY
    You may use the Position Panel with the map. Select the "Move marker with map" to sync the panel settings with this map
*/
